.body {
    background: #ffffff;
    box-shadow: 0px 0px 1px black;
    flex: 1;
    border-radius: 20px;
    padding: 0.2rem;

    transition: 0.2s;
    margin: 0.5rem 0.2rem;
    @media (min-width: 750px) {
        transition: 0.2s;
        margin: 0.666em 3em;
    }
    @media (min-width: 900px) {
        transition: 0.2s;
        margin: 0.8rem 10rem;
    }
    @media (min-width: 1200px) {
        transition: 0.2s;
        margin: 0.8rem 15rem;
    }
}

.content {
    flex: 1;
    margin: 0.8rem;
    font-size: 32px;
    padding: 0.5rem;
    width: 100%;
    text-decoration: none;
}

.header {
    display: flex;
    flex: 1;
    padding: 0.2rem;
    max-width: 100%;
}

.input {
    width: 100%;
    padding: 0.2rem;
    margin: 0.5rem;
    border: 1px solid #ccc;
    border-radius: 10px;
    box-shadow: 0px 0px 1px black;
    flex: 1;
}

.footer {
    display: flex;
    flex: 1;
    padding: 0.2rem;
    margin: 0.2rem;
    border-radius: 10px;
    justify-content: space-between;
}

.comment {
    text-align: center;
    flex: 1;
    padding: 0.2rem;
}
.comment:hover {
    background: #e5e5e5;
    cursor: pointer;
}

.like {
    text-align: center;
    padding: 0.2rem;
    flex: 1;
}
.like:hover {
    background: #e5e5e5;
    cursor: pointer;
}

.stats {
    display: flex;
    flex: 1;
    justify-content: space-between;
    padding-left: 2rem;
    padding-right: 2rem;
}
