.input {
    flex: 1;
    padding: 0.44rem;
    border: 1px solid #e5e5e5;
    border-radius: 1rem;

    user-select: none;
    transition: 0.3s ease-out;
}
.input:hover {
    border: 1px solid #b5b5b5;
    font-size: 16.2px;
    letter-spacing: 0.2rem;
    transition: 0.2s ease-out;
    cursor: pointer;
}

.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 400px;
    padding: 0.4rem;
    padding-top: 0rem;
    .textarea {
        flex: 5;
        height: 100%;
        width: 100%;
        resize: none;
        border: none;
        font-size: 1.9rem;
    }
    .textarea:focus {
        outline: none;
    }
    .header {
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 100%;
        //padding-left: 0.3rem;
    }
}
