.body{
    display:flex;
    flex-direction:row;
    //min-width: 16rem;
    padding-top: 0.1rem;
    padding-left: 0.5rem;
}

.image{
    align-self: center;
    
    border-radius: 100%;
    max-width:45px;
    max-height:45px;
}

.name{
    font-size: 16px;
    margin-top:0;
    margin-left:.4rem;

}