.navbar{
    background:white;
    display:flex;
    position:sticky;
    top:0;
    padding: 0.66rem;
}

.logo{
    flex-shrink:1;
    color:white;
    min-height: 50px;

    margin:0.5rem;
    border-radius: 50%;
    width: 64px;

    background:red;
}

.search{
    margin-left: .5rem;
    flex-grow:1;
    justify-content: center;
    flex-shrink:1;
    background:blue;
    color:white;
    min-height: 50px;
    padding:10px;
    border-radius: 50px;
}

