.options{
    margin-left: .5rem;
    display: flex;
    justify-content: center;
    flex-direction: row;
    
    flex-basis:15rem;
    color:white;
    min-height: 50px;
    padding:10px;
    border-radius: 50px;
}


